body{
    font-size: 20px;
    margin-bottom: 0;
    margin-top: 0;
}

body {
    display: grid;
    grid-template-areas: "header"
                         "main"
                         "footer";
    grid-template-rows: 210px 500px 70px;
    grid-template-columns: 3fr;
}

.header {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-template-columns: auto;
}

footer{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    padding: 10px;
    background-color: rgb(150, 128, 5);
}
.header header img{
    padding: 10px 0px 0px 0px;
}

header{
    background-color:rgb(150, 128, 5);
    padding: 10px;
    display: grid;
    grid-template-areas: "img h1" "p p";
    grid-template-columns: 100px auto;
    grid-template-rows: 100px 50px;
}

header h1{
    padding-left: 7px;
}

header p{
    grid-column-start: 1;
    grid-column-end: 3;
}

nav{
    padding: 10px 10px 5px 5px;
    background-color: blue;
}

nav a{
    margin-right: 5px;
    text-decoration: none;
    color: red;
    margin-left: 10px;
    margin-right: 30px;
}

nav a::before{
    content: '\2022\2002';
}

main{
    display: grid;
    /*15x16*/
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(16, 1fr);
}

.orange{
    background-color: orange;
    border: 1px solid black;
    margin: 1px;
}

.yellow{
    background-color: yellow;
    border: 1px solid black;
    margin: 1px; 
}

.black{
    background-color: black;
    border: 1px solid black;
    margin: 1px; 
}

.white{
    background-color: white;
    border: 1px solid black;
    margin: 1px; 
}